{% extends "home.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block js %}
    {{ block.super }}
{% endblock %}
{% block title %}Change password{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
        <form method="post">
          {% csrf_token %} <!--it is going to be submitted with the data so i can authenticate-->
          <div class="formHeaderStyle">
            {{ form|crispy }}
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
          </div>
        </form>
    </div>
  </div>

{% endblock %}