{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}



{% csrf_token %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
          <li class="breadcrumb-item">
          <a href="{% url 'companies' %}">Companies</a>
        </li>
        <li class="breadcrumb-item active">Details</li>
      </ol>
        <div class="row">
            <div class="col">

            <h1 class="companyTitle">Details of company {{ post.post }}:</h1>
                <div class="col-md-6">
                  <p>Company logo:</p>
                  {% if post.image %}
                   <img src="{{ post.image.url }}" width="150" alt="Company logo">
                  {% endif %}

                  <p>Location: {{ post.location }}</p>
                  <p>Added by: {{ post.user }}</p>
                  <p>Created: {{post.created }}</p>
                  <p>Updated: {{ post.updated }}</p>
                  <p>Info: {{ post.info }}</p>
                  </div>
                </div>
                <div class="col-md-6">
            <h3>Comment section:</h3>
            <p>Number of comments: {{ post.comments.count }}</p>
            <a href="{% url 'add_comment' pk=post.pk %}">Leave a comment.</a>
            {% for comment in post.comments.all %}
              <p>Added by {{ request.user }}, {{ comment.created }}</p>
              <p>{{ comment.body }}</p>
            {% empty %}
              <p>No comments</p>
            {% endfor %}
                </div>
            </div>

      </div>


  {% endblock %}