{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<section>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'companies' %}">Companies</a></li>
        <li class="breadcrumb-item active">Add</li>
    </ol>

    <div class="container">
        <div class="col-md-6">
        <h1>Add new company:</h1>
        <form method="post" class="post_method" action=".">{% csrf_token %}
            <table border="0">
                {{ form|crispy }}
                <button class="btn btn-lg btn-success" type="submit" value="Add">Add</button>
            </table>
        </form>
        </div>
    </div>
</section>
{% endblock %}