{% extends 'base.html' %}
{% load staticfiles %}
  {% load crispy_forms_tags %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block title %}Companies{% endblock%}
  {% block content %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "pagingType": "full_numbers",
                "searching": false,
                "lengthMenu": [5, 10, 15, 25, 50],
                responsive: true
            });
        });
    </script>
{% endblock %}

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <header>
 			    <h1>Companies</h1>
                <p>Only administrators can interact with companies</p>
 		    </header>


        <table cellspacing="1" class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
            <td>Added by:</td>
            {% if request.user.is_superuser %}
          <th scope="col">Actions</th>
            {% endif %}
            <th scope="col">Comments</th>
            <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
{% for company in posts %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td>{{ company.post }}</td>
            <td>{{ company.location }}</td>
            <td>{{ request.user }}</td>
                        {% if request.user.is_superuser %}
          <td>

                <a class="socialLink" href="{% url 'edit_company' pk=company.pk %}">
                <button class="btn btn-sm btn-info">
                Edit
                </button>
                </a>

                <a class="socialLink" href="{% url 'delete_company' pk=company.pk %}">
                <button class="btn btn-sm btn-danger">
                Delete
                </button>
                </a>
          </td>
            {% endif %}

            <td>
                <a class="socialLink" href="{% url 'comment_company' pk=company.pk %}">
                <button class="btn btn-sm btn-default">
                Comment
                </button>
                </a>
            </td>

            <td>
                <a class="socialLink" href="{% url 'company_details' pk=company.pk %}">
                <button class="btn btn-sm btn-info">
                Show details
                </button>
                </a>
            </td>
            <td>{{ company.comment }}</td>
        </tr>
{% endfor %}
      </tbody>
</table>

        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>

    </div>

{% endblock %}