{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-success">Submit</button>
                    {% for comment in comments %}
                {{ comment.content }}, Added by: {{ user.username }}<br/>
            {% endfor %}
    </form>

</div>
{% endblock %}

    <div class="commentForm">
        {% for comment in post.comment_set.all %}
        <p id="commentP">{{ comment.content }}</p>
        {% endfor %}
    </div>