{% extends 'base.html' %}
{% load staticfiles %}
  {% load crispy_forms_tags %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block title %}Companies{% endblock%}
  {% block content %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "pagingType": "full_numbers",
                "searching": true,
                "lengthMenu": [5, 10, 15, 25, 50],
                responsive: true
            });
        });
    </script>
{% endblock %}

<div class="container-fluid">

<!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Companies</li>
  </ol>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <header>
        <h1>Companies</h1>
    </header>

    <table cellspacing="1" class="table table-striped table-bordered">
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
                <th>Category</th>
              <th>Location</th>
              <th>Added by</th>
                <th>Created</th>
              <th>Actions</th>
              <th>Details</th>
            </tr>
        </thead>
        <tbody>

        {% for company in posts %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ company.post }}</td>
                    <td>{{ company.category }}</td>
                    <td>{{ company.location }}</td>
                    <td>{{ request.user }}</td>
                    <td>{{ company.created }}</td>
                  <td>

                        <a class="socialLink" href="{% url 'edit_company' pk=company.pk %}">
                        <button class="btn btn-sm btn-info">
                        Edit
                        </button>
                        </a>

                        <a class="socialLink" href="{% url 'delete_company' pk=company.pk %}">
                        <button class="btn btn-sm btn-danger">
                        Delete
                        </button>
                        </a>
                    <td>
                        <a class="socialLink" href="{% url 'company_details' pk=company.pk %}">
                        <button class="btn btn-sm btn-info">
                        Show details
                        </button>
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="row">
        <div class="col-lg-3 col-centered">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">

                        <div class="panel-heading">
                          <h4 class="panel-title text-center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><button class="btn btn-md btn-success">
                            New company</button></a>
                          </h4>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse in">
                          <div class="panel-body text-center">
                            <form method="post" class="post_method" action=".">{% csrf_token %}
                                <table border="0">
                                    {{ form|crispy }}
                                    <button class="btn btn-lg btn-success" type="submit" value="Add">Add</button>
                                </table>
                            </form>
                          </div>
                        </div>

              </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}