{% extends "base.html" %}
{% load crispy_forms_tags %}



{% csrf_token %}

{% block content %}
<section>
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'companies' %}">Companies</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
        <div class="col">
            <h1>Edit company {{ post.post }}</h1>
            <form method="post" class="post_method" action=".">{% csrf_token %}
                <table border="0">
                    {{ form|crispy }}
                        <button class="btn btn-lg btn-success" type="submit" value="Register">Submit</button>
                </table>
            </form>
        </div>
    </div>
</section>
  {% endblock %}