{% extends "base.html" %}
{% load crispy_forms_tags %}



{% csrf_token %}

{% block content %}
  <div class="container">
    <h1>Details of company {{ post.post }}:</h1>
      <div class="col col-md-6 col-md-offset-3">

          <p>Location: {{ post.location }}</p>
          <p>Added by: {{ post.user }}</p>
          <p>Created: {{post.created }}</p>
          <p>Updated: {{ post.updated }}</p>
          <p>Info: {{ post.info }}</p>
          <p>Company logo:</p>
          <img src="{{ post.image.url }}" width="240" alt="">
      </div>
  </div>
  {% endblock %}