  {% extends "base.html" %}
  {% load staticfiles %}
  {% block js %}
      {{ block.super }}
  {% endblock %}

  {% block title %}Edit profile{% endblock %}
  {% block content %}


    <section>
            <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'companies' %}">User</a></li>
        <li class="breadcrumb-item active">Edit profile</li>
    </ol>
      <div class="container">
              <!-- Breadcrumbs-->

<div class="row">
    <div class="col-lg-4 col-centered">
      <h1>Edit profile:</h1>
          <form method="post">
            {% load widget_tweaks %}
            {% csrf_token %} <!--it is going to be submitted with the data so i can authenticate-->
            <br />
            <div>
              <span class="editProfileInput">Username:</span>
              <p>{% render_field form.username class+="form-control" %}</p>
              <span class="editProfileInput">E-mail:</span>
              <p>{% render_field form.email class+="form-control" %}</p>
              <span class="editProfileInput">First name:</span>
              <p>{% render_field form.first_name class+="form-control" %}</p>
                <span class="editProfileInput">Last name:</span>
              <p>{% render_field form.last_name class+="form-control" %}</p>
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
            </div>
          </form>
              </div>
        </div>
          </div>
  </section>
</div>

{% endblock %}