{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
{% endblock %}
{% block title %}Home page{% endblock %}

{% block menu %}

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <header>
 			    <h1>Latest news</h1><br/><br/>
 		    </header>
            <div class="row">
                <div class="col-6">
                    <h4>Recently added companies:</h4>
                    {% for post in posts %}
                        {{ post.post}}
                    {% endfor %}
                </div>
                <div class="col-6">
                    <h4>Recently registered users:</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block content %}






{% endblock %}

