{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'meetings' %}">Meetings</a></li>
		<li class="breadcrumb-item active">Add meeting</li>
    </ol>


	<div class="row">
		<div class="col-lg-3 col-centered text-center">
					<h1>Add new meeting</h1>

		<form method='POST'  class="text-center">{% csrf_token %}
			{{ form|crispy }}
			<button class="btn btn-md btn-success" type='submit'>Submit</button>
		</form>
		</div>
	</div>
{% endblock %}