{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'meetings' %}">Meetings</a></li>
		<li class="breadcrumb-item active">Add meeting</li>
    </ol>
<div class="container">
	<h1>Add new meeting</h1>
	<form method='POST'>{% csrf_token %}
		{{ form|crispy }}
		<button type='submit'>Submit</button>
	</form>
	</div>
{% endblock %}