{% extends 'base.html' %}
{% load staticfiles %}
  {% load crispy_forms_tags %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block title %}Companies{% endblock%}
  {% block content %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "pagingType": "full_numbers",
                "searching": true,
                "lengthMenu": [5, 10, 15, 25, 50],
                responsive: true
            });
        });
    </script>
{% endblock %}

          <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My meetings</li>
      </ol>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <header>
 			    <h1>My meetings</h1>
 		    </header>

        <table cellspacing="1" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>With</th>
          <th>When</th>
          <th>Details</th>

        </tr>
      </thead>
      <tbody>

{% for meeting in meetings %}
        <tr>
          <td>{{ forloop.counter }}</td>
            <td>{{ meeting.title }}</td>
          <td>{{ meeting.company_name }}</td>
            <td>{{ meeting.meeting_date}}</td>
            <td>{{ meeting.details }}</td>

        </tr>
{% endfor %}
      </tbody>
</table>
</div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>

    </div>

{% endblock %}