  {% extends "base.html" %}
  {% load staticfiles %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block head %}
  <title>Users</title>{% endblock %}
  {% block title %}Users{% endblock %}


{% block content %}

{% block header %}
	<script>
		$(document).ready(function () {
			$('table').DataTable({
				"pagingType": "full_numbers",
				"searching": false,
				"lengthMenu": [5, 10, 15, 25, 50],
				responsive: true
			});
		});
	</script>
{% endblock %}

{% if request.user.is_authenticated %}
 	<div class="container">
		<br />
 		<header>
 			<h1>Users</h1>
 			<p class="headerInfo">Only administrators can interact with users</p>
 		</header>

		    <table cellspacing="1" class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
			<th scope="col">E-mail address</th>
		{% if request.user.is_superuser %}
          <th scope="col">Actions</th>
			{% endif %}
        </tr>
      </thead>
      <tbody>
{% for user in users %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
			{% if request.user.is_superuser %}
			<td>
				<a href="{% url 'update_user' pk=user.pk %}"><button class="btn btn-sm btn-default">Edit</button></a>
				<a href="{% url 'delete_user' pk=user.pk %}"><button class="btn btn-sm btn-danger">Delete</button></a>
			</td>
			{% endif %}
        </tr>
{% endfor %}
      </tbody>
</table>

	</div>
{% endif %}
{% endblock %}