{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'companies' %}">Companies</a></li>
		<li class="breadcrumb-item active">Details</li>
        <li class="breadcrumb-item active">Add comment</li>
    </ol>
            {% for comment in post.comments.all %}
            <p>Added by {{ request.user }}, {{ comment.created }}</p>
            <p>{{ comment.body }}</p>
            {% empty %}
            <p>No comments</p>
            {% endfor %}
<div class="container">
	<h1>Add new comment</h1>
	<form method='POST'>{% csrf_token %}
		{{ form|crispy }}
		<button type='submit'>Submit</button>
	</form>
	</div>
{% endblock %}