{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-lg btn-success">Submit</button><br />
                <div class="container">
                    {% for comment in post_comments %}
                        {{ comment.content }}, Added by: {{ user.username }}<br/>
                    {% endfor %}
                </div>
    </form>
</div>
{% endblock %}
