{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block js %}
{{ block.super }}
{% endblock %}
{% block title %}Companies{% endblock%}
{% block content %}

{% block header %}

{% endblock %}


<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Companies</li>
    </ol>
    <div class="panel-heading">
        <h4 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <button class="btn btn-md btn-success">
                    New company
                </button>
            </a>
        </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body text-center">
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Add new company</div>
                    <div class="card-body">
                        <form method="post" class="post_method" action=".">{% csrf_token %}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                        {% render_field form.post class="form-control" %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Category</label>
                                        {% render_field form.category class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                {% render_field form.location class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label>Info</label>
                                {% render_field form.info class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label>User</label>
                                {% render_field form.user class="form-control" %}
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Logo</label>
                                        {% render_field form.image class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-success" type="submit" value="Register">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<header>
    <h1>Companies</h1>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table cellspacing="1" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Location</th>
        <th>Added by</th>
        <th>Created</th>
        <th>Actions</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>

    {% for company in posts %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ company.post }}</td>
        <td>{{ company.category }}</td>
        <td>{{ company.location }}</td>
        <td>{{ request.user }}</td>
        <td>{{ company.created }}</td>
        <td>

            <a class="socialLink" href="{% url 'edit_company' pk=company.pk %}">
                <button class="btn btn-sm btn-info">
                    Edit
                </button>
            </a>

        <button type="button" align="left" class="btn btn-sm btn-danger deleteval" data-toggle="modal" data-target="#modelId"
                value="{{company.pk}}">
            Delete
        </button>

        <td>
            <a class="socialLink" href="{% url 'company_details' pk=company.pk %}">
                <button class="btn btn-sm btn-info">
                    Show details
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>



<!-- Delete messagebox Modal -->

<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Warning!</h4>
            </div>
            <div class="modal-body">
                Delete this company?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form method="get">
                    <button type="submit" align="left" class="btn btn-danger deletebutton" name="companyDeleteButton">Yes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

      $('.deleteval').click( function(e){
        var at = $(this).attr('value');
        $('.deletebutton').val(at)
        });

        $(document).ready(function () {
            $('table').DataTable({
                "pagingType": "full_numbers",
                "searching": true,
                "lengthMenu": [5, 10, 15, 25, 50],
                responsive: true
            });
        });
</script>
{% endblock %}