{% extends 'base.html' %}
{% load staticfiles %}
  {% load crispy_forms_tags %}
{% load widget_tweaks %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block title %}Companies{% endblock%}
  {% block content %}

{% block header %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "pagingType": "full_numbers",
                "searching": true,
                "lengthMenu": [5, 10, 15, 25, 50],
                responsive: true
            });
        });
    </script>
{% endblock %}

          <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My meetings</li>
      </ol>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


    <div class="panel-heading">
        <h4 class="panel-title text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <button class="btn btn-md btn-primary">
                    New meeting
                </button>
            </a>
        </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body text-center">
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Add new meeting </div>
                    <div class="card-body">
                        <form method="post" class="post_method" action=".">{% csrf_token %}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Title</label>
                                        {% render_field form.title class="form-control" %}
                                    </div>
                                     <div class="col-md-6">
                                        <label>Author</label>
                                        {% render_field form.author class="form-control" %}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Meeting date</label>
                                        {% render_field form.meeting_date class="form-control" %}
                                    </div>
                                    <div class="col-md-6">
                                <label>Company</label>
                                {% render_field form.company_name class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Details</label>
                                {% render_field form.details class="form-control" %}
                            </div>
                            <button class="btn btn-block btn-primary" type="submit" value="Register">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>






    <div class="container-fluid col">
      <div class="row">
        <div class="col-12">
            <header>
 			    <h1>My meetings</h1>
 		    </header>

        <table cellspacing="1" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>With</th>
          <th>When</th>
          <th>Details
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
{% for meeting in meetings %}
        <tr>
          <td>{{ forloop.counter }}</td>
            <td>{{ meeting.title }}</td>
          <td>{{ meeting.company_name }}</td>
            <td>{{ meeting.meeting_date}}</td>
            <td>{{ meeting.details }}</td>
            <td>
            <a class="socialLink" href="#">
                <button class="btn btn-sm btn-info">
                    Delete
                </button>
            </a>
        </td>

        </tr>
{% endfor %}
      </tbody>
</table>
</div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>

    </div>

{% endblock %}