<!DOCTYPE html>
{% load staticfiles %}
<html lang = "en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Customer relationship mangement project">
	<meta name="author" content="Bartlomiej Pysiak">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head> 

<body id="bg" style="background-image: url('{% static "images/sky-bg.jpg"%}');>
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12 col-md-8 col-md-offset-2">
	            <div class="account-wall">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
{% endblock js %} 

</body>
</html>




