  {% extends "base.html" %}
  {% load staticfiles %}
  {% load crispy_forms_tags %}
  {% block js %}
      {{ block.super }}
  {% endblock %}
  {% block title %}Companies{% endblock %}
  {% block content %}

    <article>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 formHeaderStyle">
          <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/home/' ">Previous page</button>
          <form method="post">
            {% csrf_token %}
            <div>
              <header>
                <h1>Companies</h1>
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-success">Add</button>
              </header>
              <section>
                {% for post in posts %}
                  <h3>{{ post.post }}</h3>
                  <p>Added by: {{ post.user }} on {{ post.created }}</p>
                {% endfor %}
              </section>
            </div>
          </form>
        </div>
      </div>
    </article>
  </div>


<!--   <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form method="post">
          {% csrf_token %}
          <div class="formHeaderStyle">
            <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/home/' ">Previous page</button>
            <h1>Companies</h1>
            {{ form|crispy }}
            <button type="submit" class="btn btn-lg btn-success">Submit</button>
            {% for post in posts %}
              <h3>{{ post.post }}</h3>
              <p>Submitted by: {{ post.user }} on {{ post.created }}</p>
            {% endfor %}
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <h1>All users</h1>
        {% for user in users%}
          <a href=""><h3>{{  user.username }}</h3></a>
        {% endfor %}
      </div>
    </div>
  </div>
 -->
{% endblock %}