{% extends "base.html" %}
{% load staticfiles %}
{% block js %}
{{ block.super }}
{% endblock %}
{% block title %}Home page{% endblock %}
{% block content %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">



    <h1> Logged as: {{ user.username }} </h1>
    <button type="button" class="btn btn-default" onclick="window.location.href='/logout/' ">Logout</button>
    <section>
      <h3>Here you can browse companies</h3>
        <button class="btn btn-md btn-block" onclick="window.location.href='/companies/' ">Companies</button>
    </section>
    <section>
      <h3>Here you can browse users</h3>
        <button class="btn btn-md btn-block" onclick="window.location.href='/users/' ">Users</button>
    </section>



{% endblock %}

