{% block content %}
{% load static %}


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form class="form-signin" method="post" action="." >{% csrf_token %}
            <label for="inputText" class="sr-only">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Login" id="login-button">Login</button>
            <!--<button class="btn btn-lg btn-primary btn-block" type="button" value="Register" onclick="window.location.href='/register/' ">Register</button>-->
            <input type="hidden" name="next" value="/companies" />
            <a href="{% url 'password_reset' %}"<button class="btn btn-lg btn-default btn-block forgotPasswordButton">Forgot password?</button></a>
        </form>
      </div>
    </div>
  </div>

        					{% block menu %}{% endblock %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>

</html>

{% endblock %}



