{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}

        <section>
            <div class="container">
                <div class="col-md-9">
                    <div class="row">
                        <div class="account-wall">
                            <form method="post" class="post_method" action=".">{% csrf_token %}
                                <table border="0">
                                    <div class="formHeaderStyle">
                                        <button class="btn btn-lg btn-primary" type="button" onclick="window.location.href='/' ">Previous page</button>
                                        <br /><br />
                                        {{ form|crispy }}
                                        <button class="btn btn-lg btn-success" type="submit" value="Register">Register</button>
                                    </div>
            		    	    </table>
            		        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
